body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e332d;
}

.container {
    background-color: #d9e8d7;
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 2px 5px;
}

.navbar {
    background-color: #f0f0eb;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.navbar .menu {
    gap: 15px;
}

.navbar a {
    color: black;
    font-weight: bold;
}

.navbar a:hover {
    color: darkred;
}