body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e332d;
}

.container {
    background-color: #c4c7c3;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px;
}

.navbar {
    background-color: #f0f0eb;
    margin: 0px;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 20px;
}

.navbar .menu {
    gap: 15px;
    display: flex;
}

.navbar a {
    color: #abadab;
    font-weight: bold;
    text-decoration: none;
}

.navbar a:hover {
    color: darkred;
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    flex-grow: 1;
    padding: 20px;
}