@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Mitr:wght@200;300;400;500;600;700&display=swap');
body{
    font-family: "Golos Text", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #64685C;
}

.container {
    background-color: #C7C7BB;
    width: 96%;
    height: 90%;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px;
}

#nav-upper {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    padding: 5vw; 
    border-radius: 2vw 2vw 0px 0px;
    background-color: #EFE6D9;

}
    
#nav-upper ul {
    position: absolute;
    top: 6vw;
    right: 11vw;
    padding: 0;
    display: flex; 
    list-style: none;
    gap: 3vw; 
}
    
#nav-upper li {
    display: inline;
}
    
#nav-upper a {
    text-decoration: none;
    color: #848177;
    font-weight: 300; 
    font-size: 2vw; 
}
    
#nav-upper a:hover,
#nav-upper a:focus,
#nav-upper a.active {
    color: #53504A;
    text-decoration: underline;
    text-underline-offset: 8px;
}
    
#nav-upper i {
    font-size: 2vw;
    position: absolute;
    top: 9vw;
    right: 5vw;
    padding: 0;
    display: flex; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
}

.card {
    background-color: #EAE6DF;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 30px solid #6D1919;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 6px;
    object-fit: cover;
}

.card h3 {
    font-family: "Golos Text", sans-serif;
    font-weight: 750;
    font-size: 25px;
    margin: 20px;
    text-align: center;
}

.card button {
    font-family: "Golos Text", sans-serif;
    font-weight: 600;
    background-color: #6D1919;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 70px;
    margin: 30px;
    margin-left: 5vw;
    cursor: pointer;
    margin-top: auto;
    text-align: center;
    flex-direction: column;
}

.card button:hover {
    background-color: rgb(139, 29, 29);
}

.card .group1 {
    flex: 1;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*
@media (max-width: 900px) {

}
*/

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
