@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Mitr:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Prompt", sans-serif;
    background-color: #64685C;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding: 0px;
    align-items: center;
    background-color: #333;
    color: white;
  }
  
button {
    background: none;
    color: rgb(48, 35, 35);
    border: none;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    cursor: pointer;
  }
 
#nav-upper {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    padding: 2vw; 
}
    
#nav-upper ul {
    position: absolute;
    top: 8vw;
    right: 11vw;
    padding: 0;
    display: flex; 
    list-style: none;
    gap: 3vw; 
}
    
#nav-upper li {
    display: inline;
}
    
#nav-upper a {
    text-decoration: none;
    color: #848177;
    font-weight: 300; 
    font-size: 2vw; 
}
    
#nav-upper a:hover,
#nav-upper a:focus,
#nav-upper a.active {
    color: #53504A;
    text-decoration: underline;
    text-underline-offset: 8px;
}
    
#nav-upper i {
    font-size: 2vw;
    position: absolute;
    top: 9vw;
    right: 5vw;
    padding: 0;
    display: flex; 
}
@media (max-width: 768px) {
    #nav-upper {
        justify-content: center;
        align-items: flex-start;
        flex-direction: column; 
        width: 100%;
        position: relative; 
    }
    
    #nav-upper ul {
        position: static; 
        width: 100%;
        justify-content: space-around;
        margin: 0;
        gap: 0; 
    }
    #nav-upper li {
        display: inline-block;
        text-align: center;
        width: 100%; 
    }
    
    #nav-upper a {
        color: #848177;
        font-size: 3vw; 
        display: block;
        padding: 1vw 0;
        text-decoration: none;
    }
    
    #nav-upper i {
        display: none;
    }
}

.container {
    display: flex;
    border-radius: 4vw;
    width: 100%;
    height: 100%;

}

.card-container {
    width: 70%;
    background-color: #C7C7BB;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}

.card {
    background-color: #EFE6D9;
    width: 20vw;
    height: 25vw;
    flex: 1 1 calc(50% - 20px);
    border-radius: 3vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img{
    width: 100%;
    height: 15vw;
}

.card-content {
    padding: 1vw;
    position: relative;
}
  
.card-description {
    font-size: 1.2vw;
    color: #555;
    transition: opacity 0.3s ease;
    text-align: center;
}
  
.card-hover-text {
    font-size: 1vw;
    color: #333;
    position: bottom;
    bottom: 15px;
    left: 15px;
    right: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
  
.card:hover .card-description {
    opacity: 0; 
}
  
.card:hover .card-hover-text {
    opacity: 1; 
}

.content {
    float: left;

    width: 70%;
    padding: 20px;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #EFE6D9;
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.navcontainer a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin: 0 10px;
}

.navcontainer a.active {
    font-weight: bold;
    text-decoration: underline;
}

.spirfo{

    margin-left: 2vw;
    font-size: 1.7vw;
}

h3{
    font-size: 5vw;

    color: #7F423D;
    text-align: left;
    margin-top: 7vw;
    padding-bottom: 5px;
}


@media (max-width: 768px) {
    .container {
        margin-top: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        flex-direction: column;
    }

    .content {
        border-top-left-radius: 2vw;
        border-top-right-radius: 2vw;
        width: 90%;
        
    }

    .card-container {
        width: 90%;
        order: 2;
    }

    .card {
        width: 100%;
        flex-direction: column;
        flex: 30%;
    }

    h3 {
        margin-top: 0%;
    }

    .card img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
}
  
@media (max-width: 600px) {
    .card {
        width: 100%;
        flex-direction: column;
        flex: 40%;
    }

    .card-container {
        width: 90%;
    }
  
}